@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

body {
  background-color: #fff;
  font-family: "Silkscreen", cursive;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  img {
    width: 80%;
    height: 100%;
  }

  .stampsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    img {
      width: 110%;
      height: 110%;
    }
  }
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem;
    &:hover {
      color: #ccc;
    }
  }
  p {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;

    @keyframes textclip {
      0% {
        background-position: 100% 0;
      }
      100% {
        background-position: -100% 0;
      }
    }
    // when clicked, do a little jump
    &:active {
      transform: translateY(4px);
    }
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
